.block
	bc lighten(mainColor, 60%)
	position relative
	&-inside
		bc lighten(mainColor, 20%)
		height 50px
		left 50%
		position absolute
		top 50%
		transform translate(-50%, -50%);
		width 50px
		text-align center
		line-height 47px
